services:
  api:
    image: myapi:latest
    build: .
    ports:
      - "8080:8080"

  db:
    image: postgres:18
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"